body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    height: 100px;
}

.logo-container {
    max-width: 300px; 
    min-width: 120px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 50px; 
    margin-right: 10px;
}

.logo-container img {
    width: 100%;
    height: 50px; 
    align-self: center;
    align-items: center;
}
/* AnimacióCSS per al logo */
@keyframes scaleLogo {
    0% {
         transform: scale(0.5);
         opacity: 0;
    }
     100% {
        transform: scale(1);
        opacity: 1;
            }
}


img {
    /*display: block;
    /*margin: 50px auto;
    width: 150px; /* */
    animation: scaleLogo 1.5s ease-out forwards;
}

/* ReseteJAR LA ANIMCCIÓ PER LES IMATEGES QUE ESTAN DINTRE DLE MAPA */
#map img{
    animation: none !important;                   
}




header h1{
min-width: 180px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin-right: 20px;    
}

ul li {
    margin-right: 20px;
    list-style: none;    
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    font-size: 1.3em;
    color: #ffa500; /* Color taronja al passar el ratolí */

}

main section h1{    
    text-align: center;
    margin-bottom: 25px;
    font-size: 3em;
}
main section h2{
    text-align: center;
    margin-bottom: 25px;
    font-size: 3em;
}

main {
    padding: 20px;
}

main .btn {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

main .image-container {
    max-width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #f4f4f4;
    text-align: center;
}

main .image-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

main .image-container figcaption {
    margin-top: 8px;
    font-size: 1.1rem;
    color: #666;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

/* Estil per a les imatges */
.image-container img {
    width: 100%; 
    height: auto; 
    display: block;
    margin: 20px auto;
    transition: transform 0.3s ease; /* Transició amb un efecte suau */
}

/* Clip-path. Retall de formes geométricques */
.section-info .image-container img:first-of-type  {
    clip-path: circle(50% at center); /* Ccercle */
}

.section-info .image-container:nth-of-type(2) img:first-of-type {
    clip-path: polygon(
        10% 0%, 
        90% 0%, 
        100% 80%, 
        95% 85%, 
        90% 80%, 
        85% 85%, 
        80% 80%, 
        75% 85%, 
        70% 80%, 
        60% 85%,
        55% 80%,
        50% 85%,
        45% 80%,
        40% 85%,
        35% 80%,
        30% 85%,
        20% 80%,
        10% 80%, 
        0% 90% 
    );
}


/* Efecte hover */
.image-container img:hover {
   filter: brightness(1.1); /* Augmentem la brillantor */
}


/* Footer General */
footer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; 
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 150px; 
    height: auto;
}


.footer-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links ul li {
    margin: 5px 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
     font-size: 1.2em;
}

.footer-links ul li a:hover {
    color: #ffa500; 
}

.footer-info {
    margin: 10px 10px;
    font-size: 1.2em;
}


/* Estils pictograma */
.contenedor_principal{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 100%;
margin-bottom: 30px;
}

.animation-container {
    position: relative;
    width: 200px; 
    height: 275px; 
}

/* Imatge del pictograma */
.pictograma {
    margin-top: 10px;
    margin-bottom: 20px;
    
    width: 100%;
    height: auto;
    animation: bounce 2s infinite ease-in-out;
}

/* Texte */
.question1{
    margin-top: 3px;
    width: 450px;
    position: absolute;
    bottom: 10px;
    right:-100%;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: fadeIn 2s infinite ease-in-out 1s; /* Retras de 1s */
}
.question2{
    margin-top: 3px;
    width: 450px;
    position: absolute;
    bottom: 10px;
    right:-85%;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: fadeIn 2s infinite ease-in-out 1s; /* Retras de 1s */
}
.question3{
    margin-top: 3px;
    width: 450px;
    position: absolute;
    bottom: 10px;
    right:-75%;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: fadeIn 2s infinite ease-in-out 1s; /* Retras de 1s */
}


/* Animació del pictograma: rebot */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Animació del texte */
@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.animation-container:hover .question1{
    animation: fadeIn 0.8s infinite ease-in-out 1s; /* Retras de 1s */
    color: red;
}
.animation-container:hover .question2{
    animation: fadeIn 0.8s infinite ease-in-out 1s; /* Retras de 1s */
    color: red;
}

.animation-container:hover .question3{
    animation: fadeIn 0.8s infinite ease-in-out 1s; /* Retras de 1s */
    color: red;
}


.pictograma{
    width: 180px;
}

/* media queries */
@media (min-width: 800px) {
    .pictograma {
        width: 210px;
    }
}

@media (max-width: 800px) {
    .pictograma {
        width: 180px;
    }
}